<form [formGroup]="formulario" (ngSubmit)="guardar()">
    <div class="container">
        <div class="row">
            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">Alta Usuario</h4>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="especialidad">Especialidad</label>
                        <input type="text" class="form-control" id="especialidad" formControlName="especialidad">
                        <span class="text-danger"
                            *ngIf="formulario.get('especialidad')?.hasError('required')  && formulario.get('especialidad')?.touched">
                            Debes ingresar el nombre.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>